body {
    text-align: center;
    background-color:rgb(186, 247, 226);
}

h1 {
    margin-bottom: 20px;
}

button {
    height: 50px;
    width: 150px;
    font-size: 14pt;
    margin: 10px;
    cursor: pointer;
}

.input {
    margin: 40px;
}

.view1 {
    display: block;
    height: 300px;
    margin: 0, auto;
}

/* .label {
    float: center;
    margin-right: 20px;
    width: 80px;
    padding-left: 10px;
} */